.modal {
  position: fixed;
  background: rgba(0, 0, 0, .6);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.panel {
  width: 300px;
}

@media (min-width: 600px) {
  .modal {
    left: 20%;
  }

  .panel {
    width: 500px;
  }
}
