@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .col-sm-9, .body-content {
    padding-top: 50px;
    width: 80%;
    float: right;   
  }
}
