<div id="container">
  <div id="coin">
      <img src="../../assets/Heads.svg" class="side-a" alt="Alternate Text" />
      <img src="../../assets/Tails.svg" class="side-b" alt="Alternate Text" />
  </div>
  <h4 class="click">Click on coin to flip</h4>

  <div id="input">
    <div id="istyle">
      <form action="/" method="post">
        <fieldset>
          <input type="text" name="name" value=""  placeholder="Enter Question"/>
          <button>Add</button>
        </fieldset>
      </form>
    </div>
  </div>

  
  <div id="sort">
    <h5>Sort</h5>
    <button class="btn">Most Popular</button>
    <button class="btn">Random</button>
  </div>

  
  <div id="cards">
    <ng-container *ngFor="let paranoia of paranoiaArray">
      <div class="card panel panel-default">
        <div class="panel-body">
            <p><i>{{paranoia.question}}</i></p>
            <p>{{paranoia.like}}</p>
        </div>
      </div>
    </ng-container>   
  </div>
  
  
</div>