/*  COIN FLIP */
#coin {
  /*position: relative;*/
  cursor: pointer;
  transition: -webkit-transform 1s ease-in;
  -webkit-transform-style: preserve-3d;
}

.side-a {
  position: absolute;
  top: 0px
}

.side-b {
  -webkit-transform: rotateY(-180deg);
  position: absolute;
  top: 0px
}

#coin.heads {
  -webkit-animation: flipHeads 3s ease-out forwards;
  -moz-animation: flipHeads 3s ease-out forwards;
    -o-animation: flipHeads 3s ease-out forwards;
       animation: flipHeads 3s ease-out forwards;
}
#coin.tails {
  -webkit-animation: flipTails 3s ease-out forwards;
  -moz-animation: flipTails 3s ease-out forwards;
    -o-animation: flipTails 3s ease-out forwards;
       animation: flipTails 3s ease-out forwards;
}

@-webkit-keyframes flipHeads {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
}
@-webkit-keyframes flipTails {
  from { -webkit-transform: rotateY(0); -moz-transform: rotateY(0); transform: rotateY(0); }
  to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
}

body {
  padding-top: 50px;
  background: red;
  /* -webkit-perspective: 800px; */
  display: flex;
  justify-content: center;
}

#container {
  display: grid;
  /* grid-template-columns: 10vw 50vw 10vw; */
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: auto;
  justify-items: center;
  width: 100%;
}

#coin {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 5;
  margin: 50px 20px 20px 20px;
  width: 250px;
  height: 250px;
}

.side-a, .side-b {
  width: 100%;
  height: 100%;
}


h4 {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 5 / 6;
}

#input {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 6 / 7;
}

#istyle>fieldset>input {
  height: 2em;
  width: 90%;
}

#sort {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 7 / 8;
}


#cards {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 8 / 9;
}

