<h1 class="center">Home</h1>
<!-- <picture class="center pic">
  <source media="(min-width: 1200px)" srcset="../../assets/paranoia-md.jpg" />
  <source media="(min-width: 650px)" srcset="../../assets/paranoia-md.jpg" />
  <img src="../../assets/paranoia.png" alt="" />
</picture> -->
<div class="header">
  <img src="../../assets/header.svg" alt="">
</div>
<h2 class="center">Instructions</h2>
<div class="instruct">
  <p>This is literally the best party game ever!!!</p>
  <p>Ok so here's what you do: </p>
  <p>Everyone sits in a circle. </p>
  <p>Whoever goes first whispers a question to the person on their right.</p>
  <p>
    The person on the right must the question out loud.
    The answer is answer usually someone’s name in the circle.
    The trick is, no one else in the circle knows the question.
  </p>
  <p>Next, someone flips coin. </p>
  <p>If it lands heads up: the asker must say the question out loud to the whole group </p>
  <p>If it lands tails: the asker doesn't say anything, and everyone in the group is let to
    wonder what in the world the question was. </p>
  <p>And you go around the circle like that. The best questions nave the answers as people.
    We like to limit It just to people in the circle, too. It just makes it more fun. </p>
  <p><strong>Here are some examples of good questions:</strong></p>
  <ul>
    <li>
      <p>If we were all drowning and you could save all but one of us, who would you leave to die?</p>
    </li>
    <li>
      <p>Who would be the first to die if a bear was chasing us?</p>
    </li>
  </ul>
</div>
